@media (max-width: 52em) {
  html {
    font-size: 60%;
  }
  body{
    height: auto;
  }
  
  .container {
    padding: 1rem;
  }
  .grid-3-cols {
    grid-template-columns: 1fr;
    margin: 5rem 2rem;
  }
}
